<h1>About</h1>
<p>
	<%= link_to "Textbook Valet", "http://www.textbookvalet.com" %>
	is a website to deliver books to
	<%= link_to "SMU Students", "http://www.smu.edu" %>
	. This is the sample website
</p>

